<template>
  <div>
    <AppBar />
    <NavDrawer />
    <v-main>
      <v-container fill-height>
        <v-row>
          <v-col cols="12">
            <p class="text-center text-h4 font-weight-bold blue--text text--lighten-1">My Notes</p>
          </v-col>
        </v-row>

        <v-row align="center" justify="center" wrap>
          <v-col v-for="note in notes" :key="note.id" cols="4">
            <v-card @click="getNote(note.id)">
              <v-card-title class="secondary white--text text-title">{{ note.title }}</v-card-title>
              <v-divider></v-divider>
              <v-card-text>
                {{ note.description }}
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>

        <v-row align="center" justify="end">
          <v-col cols="2">
            <v-btn
              color="primary"
              elevation="6"
              fab
              bottom
              right
              x-large
              @click="dialog = true"
            >
              <v-icon>mdi-plus</v-icon>
            </v-btn>
          </v-col>
        </v-row>
      </v-container>
      <v-dialog
        v-model="dialog"
        fullscreen
        hide-overlay
        transition="dialog-bottom-transition"
      >
        <v-card>
          <v-toolbar
            dark
            color="secondary"
          >
            <v-btn
              icon
              dark
              @click="resetDialog"
            >
              <v-icon>mdi-close</v-icon>
            </v-btn>
            <v-toolbar-title>
              {{ isEdit ? 'Edit Note' : 'New Note' }}
            </v-toolbar-title>
            <v-spacer></v-spacer>
            <v-toolbar-items>
              <v-btn
                dark
                text
                :loading="editLoading"
                @click="save"
              >
                Save
              </v-btn>
            </v-toolbar-items>
          </v-toolbar>
          <v-container class="pa-7">
            <v-row align="center" justify="center" dense>
              <v-col cols="10">
                <v-text-field
                  v-model="title"
                  outlined
                  rounded
                  dense
                  label="Title"
                />
              </v-col>
              <v-col cols="10">
                <v-textarea
                  v-model="description"
                  outlined
                  rounded
                  placeholder="type your notes here..."
                  row-height="100"
                  auto-grow
                />
              </v-col>

              <v-col cols="6" v-if="isEdit">
                <v-btn
                  color="error"
                  block
                  depressed
                  rounded
                  :loading="deleteLoading"
                  @click="deleteNote"
                >
                  DELETE
                  <v-icon right>mdi-delete</v-icon>
                </v-btn>
              </v-col>
            </v-row>
          </v-container>
        </v-card>
      </v-dialog>
    </v-main>
  </div>
</template>

<script>
import AppBar from '@/components/AppBar.vue';
import NavDrawer from '@/components/NavDrawer.vue';

export default {
  name: 'Home',
  components: {
    AppBar,
    NavDrawer
  },
  async created() {
    await this.$store.dispatch('notes/FETCH_ALL');
  },
  data: () => ({
    drawer: false,
    dialog: false,
    title: '',
    description: '',
    id: '',
    isEdit: false,
    deleteLoading: false,
    editLoading: false
  }),
  methods: {
    toggleDrawer() {
      this.drawer = !this.drawer;
    },
    async save() {
      if (!this.title || !this.description) {
        return;
      }

      this.editLoading = true;
      if (this.isEdit) {
        await this.$store.dispatch('notes/UPDATE', {
          id: this.id,
          title: this.title,
          description: this.description
        })
      } else {
        await this.$store.dispatch('notes/ADD', {
          title: this.title,
          description: this.description
        });
      }
      this.editLoading = false;
      this.resetDialog()
    },
    async getNote(id) {
      const note = await this.$store.dispatch('notes/GET_NOTE', id);
      if (note) {
        const { title, description, id } = note;
        this.title = title;
        this.description = description;
        this.id = id;
        this.isEdit = true;
        this.dialog = true;
      }
    },
    resetDialog() {
      this.isEdit = false;
      this.title = '';
      this.description = '';
      this.id = '';
      this.dialog = false;
    },
    async deleteNote() {
      this.deleteLoading = true;
      await this.$store.dispatch('notes/DELETE', {
        id: this.id,
        title: this.title,
        description: this.description
      });
      this.deleteLoading = false;
      this.resetDialog();
    }
  },
  computed: {
    message() {
      return this.$store.getters['MESSAGE'];
    },
    notes() {
      return this.$store.getters['notes/NOTES'];
    }
  }
}
</script>

<style>

</style>