<template>
  <v-main>
    <v-snackbar
      v-model="showError"
      color="error"
      absolute
      right
      rounded="pill"
      top
    >
      {{ errorMessage }}
    </v-snackbar>
    <v-container fill-height>
      <v-row align="center" justify="center">
        <v-col cols="6">
          <v-card>
            <v-card-title class="primary white--text">LOGIN</v-card-title>
            <v-container class="pa-6">
              <v-row align="center" justify="center" dense>
                <v-col cols="11">
                  <v-text-field
                    v-model="email"
                    outlined
                    rounded
                    dense
                    label="Email"
                    type="email"
                  />
                </v-col>
                <v-col cols="11">
                  <v-text-field
                    v-model="password"
                    :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                    :type="show1 ? 'text' : 'password'"
                    label="Password"
                    @click:append="show1 = !show1"
                    outlined
                    rounded
                    dense
                  />
                </v-col>
                <v-col cols="11">
                  <v-btn
                    color="secondary"
                    block
                    rounded
                    depressed
                    @click="login"
                  >LOGIN
                  </v-btn>
                </v-col>
              </v-row>
            </v-container>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-main>
</template>

<script>
export default {
  name: 'Login',
  data: () => ({
    email: '',
    password: '',
    show1: false,
    errorMessage: '',
    showError: false
  }),
  methods: {
    async login() {
      try {
        const isLoggedIn = await this.$store.dispatch('auth/LOGIN', { email: this.email, password: this.password })
        if (isLoggedIn) {
          this.$router.push({ name: 'Home' })
        }
      } catch (err) {
        this.errorMessage = err.message;
        this.showError = true;
        console.log(err)
      }
    }
  }
}
</script>

<style>

</style>