<template>
  <v-app-bar app flat color="secondary" dark clipped-left>
    <v-app-bar-nav-icon>
      <v-icon @click="toggleNav">mdi-menu</v-icon>
    </v-app-bar-nav-icon>
    <v-toolbar-title>Diary</v-toolbar-title>
    <v-spacer />
    <v-btn icon @click="goHome">
      <v-icon>mdi-home</v-icon>
    </v-btn>
    <v-btn icon @click="logout">
      <v-icon>mdi-account-circle</v-icon>
    </v-btn>
  </v-app-bar>
</template>

<script>
export default {
  name: 'AppBar',
  methods: {
    toggleNav() {
      this.$store.commit('TOGGLE_DRAWER', true);
    },
    goHome() {
      this.$router.push({ name: 'Home' })
    },
    async logout() {
      await this.$store.dispatch('auth/LOGOUT');
    }
  }
}
</script>

<style>

</style>