<template>
  <v-row>
    <v-col>
      <v-text-field
        label="Subject Name"
        outlined
        v-model="subj.name"
      />
    </v-col>
    <v-col>
      <v-text-field
        label="Units"
        outlined
        type="number"
        v-model.number="subj.units"
      />
    </v-col>
    <v-col>
      <v-text-field
        label="Grade"
        outlined
        type="number"
        v-model.number="subj.grade"
      />
    </v-col>
    <v-col>
      <v-btn depressed color="primary" @click="remove">
        delete
      </v-btn>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: 'GradeEntry',
  props: ['subject'],
  mounted() {
    console.log('adding grade');
    this.subj = {...this.subject}
  },
  data: () => ({
    subj: {
      id: 0,
      name: '',
      units: 0,
      grade: 0
    }
  }),
  methods: {
    remove() {
      this.$emit('remove', this.subj.id);
    }
  },
  watch: {
    'subj.name'(newVal) {
      console.log('updating subj ', newVal.id, ': ', newVal)
      this.$emit('update', this.subj);
    },
    'subj.units'(newVal) {
      console.log('updating subj ', newVal.id, ': ', newVal)
      this.$emit('update', this.subj);
    },
    'subj.grade'(newVal) {
      console.log('updating subj ', newVal.id, ': ', newVal)
      this.$emit('update', this.subj);
    }
  }
}
</script>

<style>

</style>