<template>
  <v-navigation-drawer app v-model="drawer">
    <p>link 1</p>
  </v-navigation-drawer>
</template>

<script>
export default {
  name: 'NavDrawer',
  computed: {
    drawer: {
      get: function () {
        return this.$store.getters['DRAWER'];
      },
      set: function (value) {
        this.$store.commit('TOGGLE_DRAWER', value);
      }
    }
  }

}
</script>

<style>

</style>